* {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

:root {
    --cor-primaria: #ff0002;
    --cor-secundaria: #ececec;
}

/* NAVEGAÇÃO E CABEÇALHO
======================= */

.navegacao {
    display: flex;
    align-items: center;
}

.navegacao__item {
    padding: 12px 24px;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 2px solid transparent;
}

.navegacao__item:hover {
    border-color: var(--cor-primaria);
    cursor: pointer;
}

.cabecalho__titulo,
.navegacao__item {
    color: black;
}


.navegacao__item:hover,
.cabecalho__titulo:hover {
    cursor: pointer;
    color: var(--cor-primaria);
}

.cabecalho__fundo {
    max-width: 960px;
    margin: 24px auto;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
}

.cabecalho__titulo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
}



/* CORPO
=========================== */

.corpo {
    max-width: 960px;
    margin: 0 auto;
}

/* TÍTULOS
=========================== */

.titulo1, .titulo2 {
    font-family: "Domine", sans-serif;
    font-size: 12px;
}

.titulo1 {
    font-size: 36px;
    padding: 24px 0;
}

.titulo2 {
    padding: 16px 0;
    font-size: 22px;
    font-weight: 500;
}

p, ul {
    line-height: 1.5;
}

.lista {
    list-style-position: inside;
}

.em-breve {
    font-style: italic;
    color: gray;
}

@media screen and (max-width: 880px){
    .corpo {
        padding: 0 24px;
    }

    .titulo1 {
        font-size: 28px;
        padding: 16px 0;
    }
    
    .titulo2 {
        font-size: 20px;
        padding: 8px 0;
    }

    .cabecalho__titulo {
        font-size: 28px;
    }
}